/proj/vc14/Debug
/proj/vc14/.vs
/proj/vc14/*.opendb
/proj/vc14/*.db
/proj/vc14/*.user
/proj/vc14/Debug_test2
/proj/vc14/*.aps
/proj/vc14/Release_test3
/proj/vc14/Debug_test3
/proj/vc14/Release
/proj/vc14/Release_test2
/proj/vs2019/packages
/proj/vs2019/Debug
/proj/vs2019/Debug_test2
/proj/vs2019/Debug_test3
/proj/vs2019/Release
/proj/vs2019/Release_test2
/proj/vs2019/Release_test3
/proj/vs2019/x64
/data
/*.dll
/*.exe
*.db
*.user
*.aps
.vs
