name: MSBuild

on:
  push:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [x86, x64]
    runs-on: windows-latest
    env:
      Platform: ${{ matrix.platform }}
      Configuration: Release
      VcpkgManifestInstall: false

    steps:
    - uses: actions/checkout@v4

    - name: Checkout NAS2D
      run: git submodule update --init nas2d-core/

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.3.2

    - name: Integrate vcpkg
      run: |
        vcpkg --version
        vcpkg integrate install

    - name: Restore vcpkg dependency cache
      uses: actions/cache/restore@v4
      id: cacheRestoreVcpkg
      with:
        path: vcpkg_installed
        key: vcpkg-${{ runner.os }}-${{ matrix.platform }}-${{ hashFiles('vcpkg.json') }}

    - name: Install vcpkg dependencies
      if: steps.cacheRestoreVcpkg.outputs.cache-hit != 'true'
      env:
        VcpkgManifestInstall: true
      run: |
        msbuild . /target:VcpkgInstallManifestDependencies

    - name: Save vcpkg dependency cache
      uses: actions/cache/save@v4
      if: steps.cacheRestoreVcpkg.outputs.cache-hit != 'true'
      with:
        path: vcpkg_installed
        key: ${{ steps.cacheRestoreVcpkg.outputs.cache-primary-key }}

    - name: Build
      run: |
        msbuild . /maxCpuCount /warnAsError
